@import url('https://fonts.googleapis.com/css?family=Quicksand|Ubuntu+Mono');

body{
  font-family: 'Quicksand', sans-serif;
}

code{
  font-family: 'Ubuntu Mono', monospace;
  background-color: #f9f6fd;
}

code a, pre a{
  color: #6906FF;
}

p>a {
  color: #F0760F;
}

h4>a {
  color: #F0760F;
}

li>a {
  color: #F0760F;
}

small>a{
  color: #F0760F;
}

.sourceCode>a{
  color: #6906FF;
}

.fl{
  color: #6906FF;
}

.st{
  color: #F0760F;
}

.op, .kw{
  color: #666666;
}

.dv, .dt{
  color: #191919;
}

pre {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0 2px 3px 1px,
    rgba(0, 0, 0, 0.1) 0 1px 3px 1px,
    rgba(0, 0, 0, 0.2) 0 1px 1px -1px;
}

.jumbotron {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0 2px 3px 1px,
    rgba(0, 0, 0, 0.1) 0 1px 3px 1px,
    rgba(0, 0, 0, 0.2) 0 1px 1px -1px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f3f3f3;
    background-color: #F0760F;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d8d8d8;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  color: #999999;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  color: #F0760F;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
  color: #d8d8d8;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu{
  color: #d8d8d8;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #FFF;
  background-color: #6906FF;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a{
  color: #6906FF;
}

.navbar-default .navbar-link{
  color: #6906FF;
}

a:hover, a:focus {
  color: #6906FF;
}

.btn-primary{
  background-color: #6906FF;
}